:80 {
  handle /api/* {
    uri strip_prefix /api
    reverse_proxy http://127.0.0.1:18080
  }

  handle /upload/* {
    reverse_proxy http://127.0.0.1:18080
  }

  handle {
    root * /path/to/frontend/build
    try_files {path} /index.html
    file_server
  }
}
