.wrapper {
  margin: 15px;

  .body {
    padding: 20px;

    .title {
    }

    .meta {
      margin-bottom: 20px;
    }

    .content {
      .section {
        margin-bottom: 20px;

        .samples {
          .sampleBody {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .input, .output {
              width: 50%;
            }

            .title {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              span {
                width: 100%;
                text-align: center;
              }
            }

            .input {
              margin-right: 20px;
            }

            .output {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}
