.wrapper {
  height: calc(100vh - 64px - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    background-color: white;
    width: 700px;
    height: 500px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .main {
      margin: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        .nickname {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}
